#nav{
    display: flex;
    gap: 20px;
    list-style: none;
    background-color:blue;
    width: 100%;
    height: 50px;
    align-items: center;
    border: solid 2px black;
    border-radius: 20px;
}

li{
    text-decoration: solid;
    font-weight: bold;
    font-size: large;
}

li img{
    border-radius: 50%;
    margin-top: 5px;
}